/* src/App.css */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.app__login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.app__login form {
  display: flex;
  flex-direction: column;
}

.app__login input {
  margin: 5px;
  padding: 5px;
}

.app__login button {
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

.sidebar {
  flex: 0.3;
  height: 100vh;
  background-color: lightgray;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.chat {
  flex: 0.7;
  padding: 20px;
  overflow-y: scroll;
}

.chat__input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.chat__input form {
  display: flex;
  flex: 1;
}

.chat__input input {
  flex: 1;
  padding: 10px;
}

.chat__input button {
  margin-left: 10px;
  padding: 10px;
  cursor: pointer;
}